* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 0.9em;
  font-family: sans-serif;
  background-color: #666666;
}

a {
  color: #204A87;
}
a:visited {
  color: #444444;
}
/* The span.spacer to increase the height below the last floating element */
span.spacer {
  clear: both;
  line-height: 1px;
  height: 1px;
}

#pageHeader {
  color: #FFF;
  background-color: #000000;
}
#pageHeader h1 {
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  position: relative;
  color: #FFFFFF;
}
#pageHeader img.icon {
  width: 48px;
  height: 48px;
  float: left;
  margin: 0.5em 1.5em;
}

table#splitview {
  border-collapse: collapse;
  height: 85%;
  width: 100%;
}
table#splitview tr {
  height: 100%;
}
table#splitview td {
  width: 50%;
  height: 100%;
  vertical-align: top;
}

/** multicolumn layout depending on screen size **/
#widgets, .widgets {
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  column-gap: 0;
  margin: 1.5em 0.5em 0em 0.5em;
}
@media screen and (min-width: 500px) {
  #widgets, .widgets {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  #splitview #widgets, #splitview .widgets {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
@media screen and (min-width: 1000px) {
  #widgets, .widgets {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
  #splitview #widgets, #splitview .widgets {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 1500px) {
  #widgets, .widgets {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
  #splitview #widgets, #splitview .widgets {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 2000px) {
  #widgets, .widgets {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
  }
  #splitview #widgets, #splitview .widgets {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

#visualization {
  background-color: #000;
  margin: 1.5em;
  height: 100%;
}

.widget {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width : 100%;
  display: inline-block;
  padding: 0 1em 1.5em 1em;
}
.widget .item, .widget > h2, .widget > div {
  display: inline-block;
  width: 100%;
  list-style: none;
  padding: 0.4em;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.widget h2 {
  font-size: 1em;
  font-weight: bold;
  color: #FFF;
  background-color: #000000;
}
.widget h2 span.status {
  float: right;
  height: 16px;
  width: 3em;
  font-weight: bold;
  color: #FFF;
}
.widget h2 span.status.loading {
  background: transparent url(../img/loader.gif) no-repeat center 0;
}
.widget h2 span.status.warning {
  background: transparent url(../img/warning.png) no-repeat right 0;
}
.widget h2 span.status.error {
  background: transparent url(../img/error.png) no-repeat right 0;
}
.widget div.status, .widget div.message {
  text-align: center;
}
.widget div.status.loading {
  background: #FFFFFF url(../img/loader.gif) no-repeat center 5px;
}

.widget .item, .widget > div {
  min-height: 1em;
  color: #000;
  background-color: #FFFFFF;
}
.widget .changed {

}
.widget .warning {
  font-weight: bold;
  color: #000;
  background-color: #f57900;
}
.widget .error {
  font-weight: bold;
  color: #FFF;
  background-color: #FF0000;
}

/* Feed */
ul.feed {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}

ul.feed li {
  min-height: 54px;
}
ul.feed li.clickable {
  cursor: pointer;
}
ul.feed li .teaser {
  margin-left: 60px;
  font-size: 0.75em;
  min-height: 3em;
  max-height: 7.5em;
  overflow-y: auto;
  overflow-x: hidden;
}
ul.feed li h3 {
  font-size: 1em;
}
ul.feed li .updated {
  float: right;
  font-size: 0.7em;
  text-align: right;
  opacity: 0.5;
  margin-top: 0.5em;
}

/* Chart */
div.chart {
  padding: 0.4em;
  padding-right: 1em;
}
#chartTooltip {
  font-size: 0.8em;
  position: absolute;
  display: none;
  border: 1px solid #808080;
  color: #606060;
  padding: 2px;
  background-color: #ccc;
  opacity: 0.90;
}
/* Sparklines widget */
ul.sparklines .item .number {
  float: left;
  font-size: 4em;
  text-align: right;
  width: 140px;
}
ul.sparklines .item .teaser {
  padding: 0;
  margin-left: 150px;
}
ul.sparklines .item .teaser h3 {
}
ul.sparklines .item .teaser .sparkline {
}

/* Countdown widget */
ul.countdown .timer .numberIcon {
  margin: 0 0.2em 0 0;
}
ul.countdown .timer .numberIcon.countdownNumber3 {
  display: none;
}
ul.countdown li .teaser {
  margin-left: 110px;
  font-size: 0.75em;
  min-height: 3em;
  max-height: 7.5em;
  overflow-y: auto;
  overflow-x: hidden;
}
ul.countdown li h3 {
  font-size: 1em;
}
ul.countdown li.labelApproaching {
  font-size: 1.5em;
  text-align: center;
}
ul.countdown li.labelApproaching .teaser {
  margin: 0.1em;
  min-height: 0;
}
ul.countdown li.labelApproaching .teaser .summary {
  font-size: 0.6em;
}
ul.countdown li.labelApproaching .numberIcon {
  width: 84px;
  float: none;
  margin: 0.2em;
}
ul.countdown li.labelApproaching .timer .numberIcon.countdownNumber3 {
  display: inline-block;
}

div.image {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
div.image > img {
  width: 100%;
  margin: auto;
  display: block;
}


/* Sprite Icon (an icon combined from an background image and a subtitle */
.spriteIcon {
  display: inline-block;
  float: left;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center middle;
  background-size: contain;
}
.spriteIcon.hasImage {
  min-width: 48px;
  min-height: 48px;
}

.spriteIcon.hasTitle,
.spriteIcon.hasText {
  border: 1px solid #404040;
  background-color: #FFF;
}
.spriteIcon .sprite {
  display: inline-block;
}
.spriteIcon.hasImage .sprite {
  min-width: 48px;
  min-height: 32px;
}
.spriteIcon .title {
  display: block;
  font-size: 0.6em;
  font-weight: bold;
  padding: 0.2em;
  text-align: center;
  overflow: hidden;
  color: #FFF;
  border-radius: 0 0 3px 3px;
  background-color: #222222;
  background: -moz-linear-gradient(top, #444444 0%, #222222 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #444444 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #444444 0%,#222222 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #444444 0%,#222222 100%); /* IE10+ */
  background: linear-gradient(top, #444444 0%,#222222 100%); /* W3C */
}

/** Number Icons, number with border and title bar **/
.numberIcon {
  display: inline-block;
  float: left;
  width: 48px;
  border: 1px solid #404040;
  border-radius: 5px;
}
.numberIcon .number {
  display: block;
  font-size: 2em;
  padding: 0.1em;
  line-height: 1em;
  font-weight: bold;
  text-align: center;
  background-color: #FFF;
  color: #000;
  border-radius: 4px 4px 0 0;
}
.numberIcon .title {
  display: block;
  font-size: 0.6em;
  font-weight: bold;
  padding: 0.2em;
  padding-left: 0.4em;
  color: #FFF;
  text-align: center;
  border-top: 1px solid #404040;
  border-radius: 0 0 4px 4px;
  background: #3465a4; /* Old browsers */
  background: -moz-linear-gradient(top, #3465a4 0%, #204a87 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #3465a4 0%, #204a87 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3465a4 0%, #204a87 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3465a4 0%, #204a87 100%); /* IE10+ */
  background: linear-gradient(top, #3465a4 0%, #204a87 100%); /* W3C */
}
.numberIcon.labelToday .title {
  background: #FF0000; /* Old browsers */
  background: -moz-linear-gradient(top, #FF0000 0%, #660000 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #FF0000 0%, #AA0000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FF0000 0%, #AA0000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FF0000 0%, #AA0000 100%); /* IE10+ */
  background: linear-gradient(top, #FF0000 0%, #660000 100%); /* W3C */
}
.numberIcon.labelAllDay .month {
  background: #4e9a06; /* Old browsers */
  background: -moz-linear-gradient(top, #4e9a06 0%, #376b04 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #4e9a06 0%, #376b04 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4e9a06 0%, #376b04 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4e9a06 0%, #376b04 100%); /* IE10+ */
  background: linear-gradient(top, #4e9a06 0%, #376b04 100%); /* W3C */
}